@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');
*
{
  box-sizing: border-box;
	margin:0;
	padding:0;
	font-family: 'Poppins', sans-serif;
}

.main {
	margin: 2%  0% 0% 2%;
  z-index: -2;
}

.card {
	width: 20%;
	display: inline-block;
  background-color: #FFF;
	box-shadow: 2px 2px 20px black;
	border-radius: 5px;
	margin: 2%;
  align-items: center;
  z-index: 111111;
}

.image img {
	width: 100%;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.title {
	text-align: center;
  color: #00634b;
	padding: 10px;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 25px;
}

.des {
	padding: 3px;
  font-size: 15px;
	text-align: center;
	padding-top: 10px;
  color: #00634b;
  font-weight: bold;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

button {
	margin-top: 40px;
	margin-bottom: 10px;
	background-color: #069370;
	border: 1px solid #069370;
	color: white;
	border-radius: 5px;
	padding: 10px;
}

button:hover {
	background-color: #00634b;
	color: white;
	transition: .3s;
	cursor: pointer;
  transform: scale(0.9);
}


{
  box-sizing: border-box;
	margin:0;
	padding:0;
	font-family: 'Poppins', sans-serif;
}
/* Video Show */
.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 10px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  color: #fff;
  z-index: -5;
}

/* Video */
.showcase video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  z-index: -1;

}

/* Filter for Video */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #454545;
  mix-blend-mode: overlay;
  z-index: -7
}

/* Text */
.text {
  position: relative;
  z-index: 10;
}
.text h2 {
  font-size: 4em;
  font-weight: 800;
  margin: 10px 100px;
  line-height: 1em;
  text-transform: uppercase;
}
.text h3 {
  font-size: 3em;
  margin: 15px 100px;
  font-weight: 600;
  line-height: 1em;
  text-transform: uppercase;
}
.text p {
  font-size: 1.1em;
  text-align: justify;
  margin: 40px 100px;
  font-weight: 400;
  max-width: 1000px;
}

/* Button */
.text a {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 50px;
  text-decoration: none;
  color: #069370;
  margin: 5px 100px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s;
}
.text a:hover {
  letter-spacing: 6px;
  color: #fff;
  background: #069370;
}


/* Navigation Bar */
header {
  position:relative;
  max-width: 100%;
  margin: auto;
  padding: 10px;
  background: #069370;
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(255, 0, 0, 0.2);
  z-index: 111111111;
}
.logo {
  color: #FFF;
  text-transform: uppercase;
  cursor: pointer;
  height: 60px;
  font-size: 36px;
  line-height: 60px;
  text-align: center;
  box-sizing: border-box;
  float: left;
  font-weight: 700;
  text-decoration: none;
}
nav {
  float: right;
}
.clearfix {
  clear: both;
}
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: #FFF;
}
nav ul li a.active{
  background: #069370;
  color:#30e8ba;
  transition: 0.5s;
}
nav ul li a:hover {
  background: #00634b;
  color:#FFF;
  transition: 0.5s;
}

/* Media */
@media (max-width:1200px) {
.showcase, {
    padding: 40px;
  }
}

@media (max-width: 1200px) {
  header {
    margin: 20px;
  }
}

@media (max-width: 1200px) {
  .menu-toggle {
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px;
    background: #ccccc;
    float: right;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    color: #FFF
  }
  .menu-toggle:before {
    content: '\f0c9';
    font-family: fontAwesome;
    line-height: 40px;
  }
  .menu-toggle.active:before {
    content: '\f00d';
  }
  nav {
    display: none;
  }
  nav.active {
    display: block;
    width: 100%;
  }
  nav.active ul {
    display: block;
  }
  nav.active ul li a {
    margin: 0;
  }
}
